.normail{
    align-self: center;
    line-height: 0;
    margin-top: 2px;
}
.First {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 18px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.EmptyText {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Display";
  font-size: calc(100px * $width);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0%;
  text-align: center;
  max-width: calc(730px * $width);
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.FirstTop {
  display: flex;
  gap: calc(9.97px);
  align-items: center;
  margin-left: 30px;
  img {
    width: calc(28.33px);
    height: calc(28.33px);
    transform: translateY(2.5px);
  }
  .Burger__wrapper{
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    left: -10px;
    z-index: 12;
  }
}

.FirstMain {
  margin-top: calc(18.33px);
  display: flex;
  flex-direction: column;
  gap: calc(8px);
}

.First__block {
  display: flex;
  flex-direction: column;
  padding: 19px 19px 12px 17px;
  border-radius: 10px;
  background: rgb(32, 48, 63);
    .FirstMain__top {
        .share__icon{
            margin-left: auto;
        }
    display: flex;
        img {
        margin-right: calc(10px);
        width: 34px;
        height: 34px;
        }
        p {
      /* Default text */
      color: rgb(255, 255, 255);
      font-family: "SF Pro Display";
      font-size: 14.67px;
      font-weight: 500;
      line-height: 17.67px;
      letter-spacing: 0%;
      text-align: left;
      max-width: 237px;
        }
  }
  .circle{
    margin-left: auto;
    min-width: calc(28px);
    max-height: calc(28px);
    border-radius: 50%;
    background: rgb(34, 61, 82);
    position: relative;
    img{
        width: 13.11px;
        height: 11.65px ;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
  }
  .FirstMain__middle{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    gap:0.33px;
    p{
        color: rgb(149, 151, 158);
        font-family: "SF Pro Display";
        font-size: 11.67px;
        font-weight: 500;
        line-height: 12.54px;
        letter-spacing: 0%;
        text-align: left;
        }
    }
    .FirstMain__bottom{
        margin-top: 17.67px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .FirstMain__bottom-left{
        display: flex;
        flex-direction: column;
        gap: 1px;
        p{
                /* Default text */
                color: rgb(218, 245, 254);
                font-family: "SF Pro Display";
                font-size: 14.67px;
                font-weight: 500;
                line-height: 17.67px;
                letter-spacing: 0%;
                text-align: left;
        }
    }
    .FirstMain__price-up{
        display: flex;
        gap: 5px;
        align-items: center;
        h3{
            color: rgb(255, 255, 255);
            font-family: "SF Compact Rounded";
            font-size: 23.33px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: left;
        }
        img{

        }
    }
    .FirstMain__bottom-right{
        display: flex;
        gap: calc(13px);
        align-self: flex-end;
        margin-right: 4px;
        .tie{
            align-self: center;
            line-height: 0;
        }
    }
}
.FirstMenu{
    background-color: rgba(24, 34, 45, 1.00);
    z-index: 10;
    position: absolute;
    height: 100%;
    left: 0px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    width: 301px;
    padding: 27px 16px;
    .icon{
        width: 53.33px;
        height: 53.33px;
    }
    &.hidden{
        transform: translateX(-100%);
    }
    .FirstMenu__top{
        display: flex;
        align-items: center;
        gap: calc(13px);
    }
    .FirstMenu__top-right{
        display: flex;
        flex-direction: column;
    }
    .MenuName{
        /* TON Price */
        color: rgb(255, 255, 255);
        font-family: "SF Compact Rounded";
        font-size: 23.33px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
    }
    .MenuProfile{
        display: flex;
        gap: 5px;
        align-items: center;
        .MenuProfileLink{
            color: rgb(218, 245, 254);
            font-family: "SF Pro Display";
            font-size: 14.67px;
            font-weight: 500;
            line-height: 17.67px;
            letter-spacing: 0%;
            text-align: left;
        }
    }
    .MenuPrice{
        margin-top: calc(30px);
        border-radius: 10px;

        /* Cards */
        background: rgb(32, 48, 63);
        padding-top: calc(8px);
        padding-left: calc(16px);
        padding-right: calc(16px);
        padding-bottom: calc(8px);
        display: flex;
        gap: 7px;
        align-items: center;
        align-self: flex-start;
        position: relative;
        .upArr{
            position: absolute;
            top: calc(18px * $height);
            right: calc(18px * $width);
            width: calc(14px * $width);
            height: calc(14px * $width);
        }
        .dymond{
            margin-top: 1px;
        }
    }
    .MenuTextPrice{
        /* TON Price */
        color: rgb(255, 255, 255);
        font-family: "SF Compact Rounded";
        font-size: 23.33px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
    }
    .MenuTextRublePrice{
        /* Default text */
        color: rgb(218, 245, 254);
        font-family: "SF Pro Display";
        font-size: 14.67px;
        font-weight: 500;
        line-height: 17.67px;
        letter-spacing: 0%;
        text-align: left;
    }
    .MenuList{
        display: flex;
        flex-direction: column;
        gap: calc(20px);
        margin-top: calc(30px);
        /* Menu Text */
        .menuLink{
            color: rgb(149, 151, 158);
            font-family: SF Pro Display;
            font-size: 16px;
            font-weight: 500;
            line-height: 18.31px;
            letter-spacing: 0%;
            text-align: left;
            &:hover{
                color: rgb(255, 255, 255)
            }
        }
    }
    .Menu__Helps{
        margin-top: calc(80px);
        display: flex;
        gap: 5px;
        position: relative;
        align-items: center;
        transform: translateY(3px);
        img{
/* Vector */

            width: 15.04px;
            height: 13.6px;
            left: 2.15px;
            top: 2.86px;
        }
        .menuHelp{
            color: rgb(255, 255, 255);
            font-family: "SF Pro Display";
            font-size: 16px;
            font-weight: 500;
            line-height: 18.31px;
            letter-spacing: 0%;
            text-align: left;
        }

        
    }
    .close {
        cursor: pointer;
        position: absolute;
        width: calc(16px);
        height: calc(16px);
        right: calc(16px);
        top: calc(26px);
    }
    .close span:nth-child(1){
        position: absolute;
        width: calc(62px * $width );
        height: calc(6px * $height);
        background-color: white;
        transform: rotate(45.00deg);
        border-radius: 3px;
        background: rgb(255, 255, 255);
    }
    .close span:nth-child(2){
        position: absolute;
        width: calc(62px * $width );
        height: calc(6px * $height);
        background-color: white;
        transform: rotate(-45.00deg);
        border-radius: 3px;
        background: rgb(255, 255, 255);
    }

    .close__wrapper{
        width: 45px;
        height: 45px;
        position: absolute;
        top: -20px;
        left: -14px;
        z-index: 20;
    }


}
