
.TaskDetails{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgb(24, 34, 45);
    padding: 18px 16px;
    transition: 0.3s;
    left: 0;
    transform: translateX(100%);
    &.active{
        left: 0%;
    }
}
.Task__container-one{
    display: flex;
    flex-direction: column;
    gap: calc(8px);
    .FullDescription{
        padding: calc(15px) calc(17px);
        border-radius: 10px;

        /* Cards */
        background: rgb(32, 48, 63);
        display: flex;
        flex-direction: column;
        gap: calc(2px);


    }
    .FullDescription-top{
        display: flex;
        gap: calc(4px);
        p{
            /* Default text */
            color: rgb(149, 151, 158);
            font-family: "SF Pro Display";
            font-size: 14.67px;
            font-weight: 500;
            line-height: 17.67px;
            letter-spacing: 0%;
            text-align: left;
        }
        img{
/* Vector */
            width: 10.67px;
            height: 12.67px;
            align-self: center;
        }
    }
    .FullDescriptionBottom{
        /* Default text */
        color: rgb(255, 255, 255);
        font-family: "SF Pro Display";
        font-size: 14.67px;
        font-weight: 500;
        line-height: 17.67px;
        letter-spacing: 0%;
        text-align: left;
    }
    .TaskDetails-row{
        display: flex;
        gap: 24px;
    }
    .customerContainer{
        padding: 15px 17px;
        padding-right: 7.5px;
        display: flex;
        flex-direction: column;
        gap: calc(2.67px);
    }
    .customer__information{
        display: flex;
        gap: calc(6.67px);
    }
    .information-icon{
        width: 40px;
        height: 40px;
    }
    .customer__information-right{
        display: flex;
        gap: calc(1.67px);
        flex-direction: column;
    }
    .customer__information-right-name{
        display: flex;
        gap: calc(15px * $width);
        p{
            color: rgb(255, 255, 255);
            font-family: "SF Pro Display";
            font-size: 14.67px;
            font-weight: 500;
            line-height: 17.67px;
            letter-spacing: 0%;
            text-align: left;
        }
        img{
/* Vector */
            align-self: center;
            width: 15.59px;
            height: 15.59px;
        }

    }
    .customer__information-right-rate{
        display: flex;
        gap: calc(5.67px);
    }
    .customer__information-right-rate-images{
        display: flex;
        gap: calc(3.33px);
    }
    .rate{
        /* Small Text */
        color: rgb(149, 151, 158);
        font-family: "SF Pro Display" ;
        font-size: 11.67px;
        font-weight: 500;
        line-height: 12.54px;
        letter-spacing: 0%;
        text-align: left;
    }
    .StatusContainer{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 15px 17px;
        border-radius: 10px;

        /* Cards */
        background: rgb(32, 48, 63);
        p{
            /* Default text */
            color: rgb(149, 151, 158);
            font-family: "SF Pro Display";
            font-size: 14.67px;
            font-weight: 500;
            line-height: 17.67px;
            letter-spacing: 0%;
            text-align: left;
        }
        .TrueActive{
            /* Default text */
            color: rgb(42, 207, 88);
            font-family: "SF Pro Display";
            font-size: 14.67px;
            font-weight: 500;
            line-height: 17.67px;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 2.67px;
        }
        a{
            margin-top: 9.33px;
            color: rgb(218, 245, 254);
            font-family: "SF Pro Display";
            font-size: 11.67px;
            font-weight: 500;
            line-height: 12.54px;
            letter-spacing: 0%;
            text-align: left;
            text-decoration-line: underline;
        }
    }
    .DeadlineContainer{
        display: flex;
        flex-direction: column;
        gap: calc(2px);
        padding: 15px 17px 12px 17px;
        flex-grow: 1;
        border-radius: 12px;
        background: rgb(32, 48, 63);
        p:nth-child(1){
            /* Default text */
            color: rgb(149, 151, 158);
            font-family: "SF Pro Display";
            font-size: 14.67px;
            font-weight: 500;
            line-height: 17.67px;
            letter-spacing: 0%;
            text-align: left;
        }
        p:nth-child(2){
            /* Default text */
            color: rgb(255, 255, 255);
            font-family: "SF Pro Display";
            font-size: 14.67px;
            font-weight: 500;
            line-height: 17.67px;
            letter-spacing: 0%;
            text-align: left;
        }
    }
    .TaskDetails-row{
        display: flex;
        gap: calc(8px);
        flex-grow: 1;
    }
    .customerContainer{
        border-radius: 10px;
        min-width: 60%;
        /* Cards */
        background: rgb(32, 48, 63);
        display: flex;
        flex-direction: column;
        gap: calc(2.67px);
        .customer__up{
            color: rgb(149, 151, 158);
            font-family: "SF Pro Display";
            font-size: 14.67px;
            font-weight: 500;
            line-height: 17.67px;
            letter-spacing: 0%;
            text-align: left;
        }   
        .information-icon{
            width: calc(40px);
            height: calc(40px);
        }
        .customer__information-right{
            display: flex;
            flex-direction: column;
            gap: calc(1.67px);
        }
        .customer__information-right-name{
            margin-top: calc(4px);
            display: flex;
            gap : calc(5px)
            p{
                /* Default text */
                color: rgb(255, 255, 255);
                font-family: "SF Pro Display";
                font-size: 14.67px;
                font-weight: 500;
                line-height: 17.67px;
                letter-spacing: 0%;
                text-align: left;
            }
            img{
                width: 15.59px;
                height: 15.59px;
            }
        }
        .customer__information-right-rate{
            display: flex;
            gap: calc(5.67px);
            p{
                @include greyText(35px);
            }
        }
        .customer__information-right-rate-images{
            display: flex;
            gap: calc(3.33px);
            img{
                width: calc(9px);
                height: 8.67px;
                align-self: center
            }
        }


    }   

}

.timeAndWatches{
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: calc(10px);
    margin-left: auto;
    margin-right: auto;
    .time{
/* Создано сегодня, 01:16 51 просмотр */
        color: rgb(149, 151, 158);
        font-family: "SF Pro Display";
        font-size: 11.67px;
        font-weight: 500;
        line-height: 12.54px;
        letter-spacing: 0%;
        text-align: center;
    }
    .watches{
        color: rgb(149, 151, 158);
        font-family: "SF Pro Display";
        font-size: 11.67px;
        font-weight: 500;
        line-height: 12.54px;
        letter-spacing: 0%;
        text-align: center;
    }

}

.similarAds{
    display: flex;
    flex-direction: column;
    margin-top: calc(27px);
    gap: calc(10.63px);
    h2{
        /* TON Price */
        color: rgb(255, 255, 255);
        font-family: "SF Compact Rounded";
        font-size: calc(70px * $width);
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0%;
        text-align: left;
    }
    .similarAds__contaier{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: calc(8px);
    }
}
// .page {
//     position: absolute;
//     left: 15px;
//     right: 15px;
//   }
  