.none{
    display: none;
 }
 .fileImage{
   width: 17px;
   height: 17px;
    /* width: calc(65px * 0.32); */

 }
 .labelImages{
    display: flex;
    
 }
 .MainLabel{
    display: flex;
    gap: calc(7px);
    align-items: center;
    flex-grow: 1;
 }
 .ActiveMainLabel{
    max-width: 100%;
    border-radius: 10px;
    background: rgb(34, 61, 82);
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(24px * 0.32);
    width: 100%;
    height: 100%;
    text-align: center;
    min-height: calc(310px* 0.32);
 }
 .ActiveMainLabel p {
    text-align: center;
 }
 .labelImages img{
    max-width: 30%;

 }
.FileInput{
   padding: 12.63px 16.29px;
   border-radius: 9.97px;

   /* Cards */
   background: rgb(32, 48, 63);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    flex-wrap: wrap;

    margin-top: 8px;
}
.FileInput p {
   color: rgb(218, 245, 254);
   font-family: "SF Pro Display 400";
   font-size: 16.62px;
   font-weight: 400;
   line-height: 18.26px;
   letter-spacing: 1%;
   text-align: left;
}
.imageFeet{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;

}
.ActiveMainLabel p {
    text-align: center;
 }
 .removeIcon{
    width: calc(45px * 0.32);
    height: calc(52px * 0.32);
    right: calc(20px * 0.32);
    top: calc(15px * 0.32);
    position: absolute;
    color: rgb(248, 61, 61);;
 }
 .imageFeetContainer{
    position: relative;
    height: fit-content;
    line-height: 0;
}
.fileImageContainer{
   display: block;
}