.block{
    transition: 0.2s;
}
.MyAdsBlock{
    transition: 0.2s;
}
.AdCreactingFunction{
    transition: 0.2s;
}
.reactions__block{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.reaction__block .reaction__top{
    display: flex;
    margin-left: 17.33px;
    margin-right: 17.33px;
    justify-content: space-between;
    align-items: center;
}
.sortBy{
    color: rgb(132, 137, 143);
    font-family: "SF Pro Display 400";
    font-size: 13.33px;
    font-weight: 400;
    line-height: 15.64px;
    letter-spacing: 2%;
    text-align: left;
    text-transform: uppercase;
}
.reaction{
    border-radius: 10px;

/* Cards */
    background: rgb(32, 48, 63);
}
.reaction__choice{
    display: flex;
    gap: 4px;
    align-items: center;
}
.reaction__choice p{
    color: rgb(46, 165, 255);
    font-family: "SF Pro Display 400";
    font-size: 13.33px;
    font-weight: 400;
    line-height: 15.64px;
    letter-spacing: 2%;
    text-align: right;
    text-transform: uppercase;
}
.reaction__choice img{
    width: 10.74px;
    height: 12.32px;
}
.reaction{
    display: flex;
    flex-direction: column;
}
.reaction .reactions__images{
    display: flex;
    gap: 4.33px;
    margin: 4px 4px 0px 4px;
    max-width: 100%;
    overflow-x: scroll;
    border-radius: 6.67px;
}
.reaction .reactions__images img{
    width: 183.33px;
    height: 133.67px;
    border-radius: 6.67px;
}
.reaction .reaction__middle{
    display: flex;
    margin-top: 19.33px;
    align-items: center;
    padding-left: 17.33px;
    padding-right: 19px;

}
.reaction .circle .shareImage{
    width: 13.11px;
    height: 11.65px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
    margin-left: auto;
}
.reaction .reaction__middle img{
    transform: translateY(-1px);
    width: 9px;
    height: 9px;
}
.rates__text{
    display: flex;
    gap: 5px;
}
.reaction .reaction__middle .icon{
    width: 32px;
    height: 32px;
}
.reaction .reaction__middle-midle{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.67px;
}
.reaction__middle-midle .reaction__userName {
    color: rgb(255, 255, 255);
    font-family: "SF Pro Display";
    font-size: 14.67px;
    font-weight: 500;
    line-height: 17.67px;
    letter-spacing: 0%;
    text-align: left;
}
.reaction__rates{
    display: flex;
    align-items: center;
    gap: 3.34px;
}
.reaction__rates img{
    width: 9px;
    height: 8.67px;
}
.reaction__rates p {
    color: rgb(149, 151, 158);
    font-family: "SF Pro Display";
    font-size: 11.67px;
    font-weight: 500;
    line-height: 12.54px;
    letter-spacing: 0%;
    text-align: left;
}
.reaction__rates p span{
    color: rgb(255, 176, 58)
}
.circle{
    /* TG-Semi */
    background: rgb(34, 61, 82);
    border-radius: 50%;
    position: relative;
    width: 28px;
    height: 28px;
    margin-left: auto
}

.reactions__top{
    display: flex;
    justify-content: space-between;
    padding-left: 17.33px;
    padding-right: 17.33px;
    align-items: center;

}
.reactions__bottom{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    padding-left: 17.33px;
    padding-right: 20.33px;
    margin-top: 16.87px;
}
.bottom__one{
    width: 155.33px;
    height: 27.67px;
    padding: 6px 12.67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(46, 165, 255);
    border-radius: 14px;


    color: rgb(46, 165, 255);
    font-family: "SF Pro Display";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 4%;
    text-align: right;
    text-transform: uppercase;
    background-color: transparent;


}
.bottom__two{
    width: 123px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    background: rgb(46, 165, 255);
    padding: 6px 12.67px;


    color: rgb(255, 255, 255);
    font-family: "SF Pro Display";
    font-size: 15px;
    font-weight: 500;

    letter-spacing: 4%;
    text-align: right;
    text-transform: uppercase;
    margin-left: 7.67px;
    
}
.tie{
    width: 25.67px;
    height: 25.67px;
    margin-left: auto;
}
.reactions__block{
    position: fixed;
    left: 16px;
    transform: translateX(180%);
    transition:  0.4s;
    width: calc(100% - 32px);
}