.ShareIcon{
    min-width: calc(84px * 0.32);
    max-height: calc(84px * 0.32 );
    /* TG-Semi */
    background: rgb(34, 61, 82);
    border-radius: 50%;
    position: relative;
}
.ShareIcon img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(39px * 0.32);
    max-height: calc(35px * 0.32);
}