.PaymentMethod{
    border-radius: 10px;

    /* Cards */
    background: rgb(32, 48, 63);
    padding-left: calc(16px);
    padding-right: calc(17px);
    padding-top: calc(12px);
    padding-bottom: calc(12px);
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    gap: calc(10px);
    align-items: center;
}
.left p{
    /* Camption Regular */
    color: rgb(218, 245, 254);
    font-family: "SF Pro Display 400";
    font-size: 16.67px;
    font-weight: 400;
    line-height: 18.31px;
    letter-spacing: 1%;
    text-align: left;
}
.left img{
    width: 15.67px;
    height: 12.37px;
    margin-top: 3px;
}
.link{
    align-items: center;
    display: flex;
    gap: calc(8px);

}
.link p{
    color: rgb(46, 165, 255);
    font-family: "SF Pro Display 400";
    font-size: 17.33px;
    font-weight: 400;
    line-height: 18.31px;
    letter-spacing: 1%;
    text-align: right;
}
.link img{
        width: calc(10px);
    height: calc(11px);
}
