input {
  background: none;
  padding: 0;
  outline: none;
}

.profile__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 27px;
  padding-left: 14px;
  padding-right: 14px;
}
.profile__container .pofile__icon {
  width: 94px;
  height: 94px;
}
.profile__container .urName {
  color: rgb(255, 255, 255);
  font-family: "SF Compact Rounded";
  font-size: 23.33px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18.33px;
  text-align: center;
}
.profile__container .change__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__container .pencel {
  -webkit-transform: translateY(1.5px);
      -ms-transform: translateY(1.5px);
          transform: translateY(1.5px);
  width: 12.8px;
}
.profile__container .change {
  color: rgb(218, 245, 254);
  font-family: "SF Pro Display";
  font-size: 14.67px;
  font-weight: 500;
  line-height: 17.67px;
  letter-spacing: 0%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
.profile__container .profile__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 28px;
  border-radius: 10px;
  padding-left: 16px;
  /* Cards */
  background: rgb(32, 48, 63);
}
.profile__container .option__balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2px;
  padding-right: 16px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  /* Cards */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgb(60, 61, 63);
}
.profile__container .option__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__container .option__left p {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Display 400";
  font-size: 16.67px;
  font-weight: 400;
  line-height: 18.31px;
  letter-spacing: 1%;
  text-align: left;
}
.profile__container .option__balance-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}
.profile__container .tonPrice {
  font-family: "SF Compact Rounded";
  font-size: 16.67px;
  font-weight: 500;
  line-height: 18.31px;
  letter-spacing: 1%;
  text-align: right;
}
.profile__container .Dymond {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.profile__container .option__money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}
.profile__container .option__money p {
  font-family: "SF Compact Rounded";
  color: rgb(218, 245, 254);
  font-size: 16.67px;
  font-weight: 500;
  line-height: 18.31px;
  letter-spacing: 1%;
  text-align: right;
}
.profile__container .arrowRight {
  width: 6.4px;
  height: 11.2px;
}
.profile__container .option {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgb(32, 48, 63);
  border-bottom: 0.5px solid rgb(60, 61, 63);
  padding-left: 2px;
  padding-right: 16px;
}
.profile__container .option:last-child {
  border-bottom: none;
  border-bottom-left-radius: 9.6px;
  border-bottom-right-radius: 9.6px;
}
.profile__container .profile__about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  margin-top: 29px;
  margin-left: 16px;
}
.profile__container .profile__about-me p {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Display 600";
  font-size: 20.72px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.profile__container .profile__about-me .ur__town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.profile__container .profile__about-me .hiddenP {
  color: rgb(218, 245, 254);
  font-family: "SF Pro Display 400";
  font-size: 16.67px;
  font-weight: 400;
  line-height: 18.31px;
  letter-spacing: 1%;
  text-align: left;
  outline: none;
  position: absolute;
  left: 0%;
  bottom: 41%;
  visibility: hidden;
}
.profile__container .profile__about-me .ur__town {
  color: rgb(218, 245, 254);
  font-family: "SF Pro Display 400";
  font-size: 16.67px;
  font-weight: 400;
  line-height: 18.31px;
  letter-spacing: 1%;
  text-align: left;
}
.profile__container .profile__about-me .ur__town .about__u-text {
  color: rgb(218, 245, 254);
  font-family: "SF Pro Display 400";
  font-size: 16.67px;
  font-weight: 400;
  line-height: 18.31px;
  letter-spacing: 1%;
  text-align: left;
  outline: none;
}
.profile__container .profile__about-me .ur__town .about__u-text:hover, .profile__container .profile__about-me .ur__town .about__u-text:focus {
  outline: none;
  border: none;
}
.profile__container .profile__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  margin-left: 16px;
}
.profile__container .profile__works p:nth-child(1) {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Display 600";
  font-size: 20.72px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 6px;
}
.profile__container .profile__works p:nth-child(2) {
  color: rgb(218, 245, 254);
  font-family: "SF Pro Display 400";
  font-size: 16.67px;
  font-weight: 400;
  line-height: 18.31px;
  letter-spacing: 1%;
  text-align: left;
  margin-bottom: 1px;
}
.profile__container .profile__works p:nth-child(3) {
  color: rgb(149, 151, 158);
  font-family: "SF Pro Display";
  font-size: 14.67px;
  font-weight: 500;
  line-height: 17.67px;
  letter-spacing: 0%;
  text-align: left;
}
.profile__container .profile__veryfication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21.44px;
  gap: 12px;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile__container .profile__veryfication .veryfication {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Display 600";
  font-size: 20.72px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 16px;
}
.profile__container .profile__veryfication .veryfication__block {
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid rgb(99, 98, 103);
  border-radius: 11.2px;
  padding: 16px;
}
.profile__container .profile__veryfication .veryfication__image {
  border-radius: 19.2px;
  background: rgb(61, 168, 248);
}
.profile__container .profile__veryfication .veryfication__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}
.profile__container .profile__veryfication .veryfication__block-text p:nth-child(1) {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Display";
  font-size: 17.67px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.profile__container .profile__veryfication .veryfication__block-text p:nth-child(2) {
  color: rgb(218, 245, 254);
  font-family: "SF Pro Display";
  font-size: 14.67px;
  font-weight: 500;
  line-height: 17.67px;
  letter-spacing: 0%;
  text-align: left;
}
.profile__container .profile__icon {
  width: 90.24px;
  height: 90.24px;
  margin-left: auto;
  margin-right: auto;
}
.profile__container .orangeWallet {
  width: 30px;
}
.profile__container .Okey {
  border-radius: 50%;
  background: rgb(61, 168, 248);
  min-width: 40px;
  height: 40px;
  position: relative;
}
.profile__container .Subtract {
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
      -ms-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  min-width: 22px;
  max-height: 22px;
}
.profile__container .greyArrow {
  width: 6.5024px;
  height: 11.2992px;
  margin-left: auto;
}