 $width : 0.32;
$height : 0.32;

input {
    background: none;
    padding: 0;
    outline:none;}
.profile__container{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    padding-left: 14px;
    padding-right: 14px;
    .pofile__icon{
        width: calc(94px);
        height: calc(94px)
    }
    .urName{
        color: rgb(255, 255, 255);
        font-family: "SF Compact Rounded";
        font-size: 23.33px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        margin-top: 18.33px;
        text-align: center;

    }
    .change__block{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        gap: 4px;
        align-items: center;

    }
    .pencel{
        transform: translateY(1.5px);
        width: calc(40px* 0.32)
    }
    .change{
        color: rgb(218, 245, 254);
        font-family: "SF Pro Display";
        font-size: 14.67px;
        font-weight: 500;
        line-height: 17.67px;
        letter-spacing: 0%;
        text-align: right;
        margin-left: auto;
        margin-right: auto;
    }
    .profile__options{
        display: flex;
        flex-direction: column;
        margin-top: calc(28px);
        border-radius: calc(10px);
        padding-left: 16px;
        /* Cards */
        background: rgb(32, 48, 63);


    }
    .option__balance{
            display: flex;
            padding-left: 2px;
            padding-right: 16px;
            padding-top: 6.5px;
            padding-bottom: 6.5px;
            /* Cards */
            align-items: center;
            border-bottom: 0.5px solid rgb(60, 61, 63);

    }
    .option__left{
        display: flex;
        gap: calc(20px);
        align-items: center;
        p{
            color: rgb(255, 255, 255);
            font-family: "SF Pro Display 400";
            font-size: 16.67px;
            font-weight: 400;
            line-height: 18.31px;
            letter-spacing: 1%;
            text-align: left;
        }
    }
    .option__balance-block{
        display: flex;
        margin-left: auto;
        margin-right: 10px;
        align-items: center;
        gap: 3px;
    }
    .tonPrice{
        font-family: "SF Compact Rounded";
        font-size: 16.67px;
        font-weight: 500;
        line-height: 18.31px;
        letter-spacing: 1%;
        text-align: right;
    }
    .Dymond{
        width: calc(50px * $width);
        height: calc(50px * $width);
        margin-right: 3px;
    }
    .option__money{
            display: flex;
            gap: 3px;
            align-items: self-start;
            p{
                font-family: "SF Compact Rounded";
                color: rgb(218, 245, 254);
                font-size: 16.67px;
                font-weight: 500;
                line-height: 18.31px;
                letter-spacing: 1%;
                text-align: right;
            }
    }
    .arrowRight{
        width: calc(20px * $width);
        height: calc(35px * $width);
    }
    .option{
        padding-top: calc(6.5px);
        padding-bottom: calc(6.5px);
        align-items: center;
        display: flex;
        justify-content: space-between;
        background: rgb(32, 48, 63);
        border-bottom: 0.5px solid rgb(60, 61, 63);;
        padding-left: 2px;
        padding-right: 16px;
        &:last-child{
            border-bottom: none;
            border-bottom-left-radius: calc(30px * $width) ;
            border-bottom-right-radius: calc(30px * $width) ;
        }
    }
    .profile__about-me{
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 29px;
        margin-left: 16px;
        p{
            color: rgb(255, 255, 255);
            font-family: "SF Pro Display 600";
            font-size: 20.72px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: left;
        }
        .ur__town{
            display: flex;
            gap: 8px;

        }
        .hiddenP{
            color: rgb(218, 245, 254);
            font-family: "SF Pro Display 400";
            font-size: 16.67px;
            font-weight: 400;
            line-height: 18.31px;
            letter-spacing: 1%;
            text-align: left;
            outline: none;
            position: absolute;
            left: 0%;
            bottom: 41%;
            visibility: hidden;
        
            
        }
        .ur__town {
            color: rgb(218, 245, 254);
            font-family: "SF Pro Display 400";
            font-size: 16.67px;
            font-weight: 400;
            line-height: 18.31px;
            letter-spacing: 1%;
            text-align: left;
            .about__u-text{
                color: rgb(218, 245, 254);
                font-family: "SF Pro Display 400";
                font-size: 16.67px;
                font-weight: 400;
                line-height: 18.31px;
                letter-spacing: 1%;
                text-align: left;
                outline: none;
                &:hover, &:focus{
                    outline: none;
                    border: none;
                }
            }
        }
    }
    .profile__works{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-left: 16px;
        p:nth-child(1){
            color: rgb(255, 255, 255);
            font-family: "SF Pro Display 600";
            font-size: 20.72px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 6px;
        }

        p:nth-child(2){
            color: rgb(218, 245, 254);
            font-family: "SF Pro Display 400";
            font-size: 16.67px;
            font-weight: 400;
            line-height: 18.31px;
            letter-spacing: 1%;
            text-align: left;
            margin-bottom: 1px;
            // margin-bottom: calc(5px*$width);
        }
        p:nth-child(3){
            color: rgb(149, 151, 158);
            font-family: "SF Pro Display";
            font-size: 14.67px;
            font-weight: 500;
            line-height: 17.67px;
            letter-spacing: 0%;
            text-align: left;
        }
        
    }
    .profile__veryfication{
        display: flex;
        margin-bottom: calc(67px * $width);
        gap: 12px;
        margin-top: 30px;
        flex-direction: column;

        .veryfication{
            color: rgb(255, 255, 255);
            font-family: "SF Pro Display 600";
            font-size: 20.72px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: left;
            margin-left: 16px;
        }
        .veryfication__block{
            margin-left: 4px;
            display: flex   ;
            gap: calc(10px);
            align-items: center;
            box-sizing: border-box;
            border: 0.5px solid rgb(99, 98, 103);
            border-radius:  calc(35px * $width);
            padding: calc(16px);
        }
        .veryfication__image{
            border-radius: calc(60px * $width);
            background: rgb(61, 168, 248);
        }
        .veryfication__block-text{
            display: flex;
            flex-direction: column;
            gap: calc(3px);
            p:nth-child(1){
                color: rgb(255, 255, 255);
                font-family: "SF Pro Display";
                font-size: 17.67px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0%;
                text-align: left;
            }
            p:nth-child(2){
                color: rgb(218, 245, 254);
                font-family: "SF Pro Display";
                font-size: 14.67px;
                font-weight: 500;
                line-height: 17.67px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
    }
    .profile__icon{
        width: calc(282px * $width);
        height: calc(282px * $width);
        margin-left: auto;
        margin-right: auto;
    }
    .orangeWallet{
        width: 30px;
        
    }
    .Okey{
        border-radius: 50%;
        background: rgb(61, 168, 248);
        min-width: 40px;
        height: 40px;
        position: relative;
    }
    .Subtract{
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%) translateY(50%) ;
        min-width: 22px;
        max-height: 22px;
    }
    .greyArrow{
        width: calc(20.32px * $width);
        height: calc(35.31px * $width);
        margin-left: auto;
    }
}