.track{
    display: flex;
    padding-top: 8.74px;
    padding-bottom: 7.96px;
    border-radius: 8.35px;
    background: rgba(118, 118, 128, 0.24);
    position: relative;
}
.value{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


    color: rgb(255, 255, 255);
    font-family: "SF Pro Text 600";
    font-size: 13.57px;
    font-weight: 600;
    line-height: 16.7px;
    letter-spacing: -0.08px;
    text-align: center;
    z-index: 10;
}
.greyBlock{
    position: absolute;
    border: 0.52px solid rgba(0, 0, 0, 0.04);
    border-radius: 7.31px;
    background: rgb(99, 99, 102);
    height: 29.23px;
    bottom: 2px;
    transition: .15s;
}
