.SecondAddCreating{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(24, 34, 45);
    z-index: 10;
    overflow-x: hidden;
}
.Cap {
    margin-top: calc(23.33px);
}
.Budget{
    margin-top: calc(18.33px);
}
.DatePicker{
    margin-top: calc(28.67px);
}
.CapText{
    color: rgb(255, 255, 255);
    font-family: "SF Pro Display 600";
    font-size: 17.67px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 16px;
}