.TextArea{
    /* Camption Regular */
    color: rgb(218, 245, 254);
    font-family: "SF Pro Display 400";
    font-size: 16.62px;
    font-weight: 400;
    line-height: 18.26px;
    letter-spacing: 1%;
    text-align: left;


    padding: 12.63px 16.29px;
    letter-spacing: 1%;
    text-align: left;
    border-radius: 9.97px;

    /* Cards */
    background: rgb(32, 48, 63);
}
::-webkit-textarea-placeholder {
    color: rgba(218, 245, 254 , 0.5);
    font-family: "SF Pro Display 400";
    font-size: 16.62px;
    font-weight: 400;
    line-height: 18.26px;
    letter-spacing: 1%;
    text-align: left;
}
textarea {
    border: none;
    outline: none;
    resize: none;
}