.inputCounter{
    position: absolute;
    /* Small Text */
    color: rgb(149, 151, 158);
    font-family: "SF Pro Display";
    font-size: calc(35px * 0.325);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0%;
    text-align: left;
    right: calc(49px * 0.32);
    bottom: calc(46px * 0.32);
    width: fit-content;
    margin-top:calc(18px * 0.32 / 1.58);
}
.DescriptionInput{
    width: 100%;
    min-height: 136.32px;

}
.InputContainer{
    position: relative;
}
.GreyText{
    margin-left: 17px;
    margin-bottom: 7.65px;
}
.FileInput {
    padding-left: calc(50px* 0.325);
}
.anotherPrivate{
    margin-top: 8px ;
}
.marginTop{
    margin-top: 24.67px;
}
.SecondGreyText {
    margin-top: 24.67px  ;
    margin-left: 17px;
}