.all__balance {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.balance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 23.33px;
  margin-left: 16px;
  margin-right: 16px;
}
.balance__container .ur__schet {
  /* Bold */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
}
.balance__container .ur__schet p {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Display 600";
  font-size: 17.67px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: right;
}
.balance__container .ur__schet .info {
  width: 14.78px;
  height: 14.78px;
}
.balance__container .real__balance-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.balance__container .real__balance-block-up {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
}
.balance__container .real__balance-block-up p {
  /* 117 */
  color: rgb(255, 255, 255);
  font-family: "SF Compact Rounded";
  font-size: 59.59px;
  font-weight: 500;
  line-height: 71px;
  letter-spacing: 4%;
  text-align: left;
}
.balance__container .real__balance-block-up p:nth-child(2) {
  color: rgb(218, 245, 254);
  font-family: "SF Compact Rounded 600";
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1%;
  text-align: left;
}
.balance__container .real__balance-block-up .blue__dymond {
  background: rgb(0, 152, 234);
  position: relative;
  width: 42.67px;
  height: 42.67px;
  border-radius: 50%;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  margin-left: 4px;
}
.balance__container .real__balance-block-up .blue__dymond img {
  width: 21.57px;
  height: 21.57px;
  position: absolute;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
      -ms-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}
.balance__container .real__balance-block-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
}
.balance__container .real__balance-block-down p {
  /* Description */
  color: rgb(218, 245, 254);
  font-family: "SF Pro Display 400";
  font-size: 13.33px;
  font-weight: 400;
  line-height: 15.64px;
  letter-spacing: 2%;
  text-align: left;
}
.balance__container .balance__interesting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-top: 30px;
}
.balance__container .balance__interesting-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.balance__container .top-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  border-radius: 11.67px;
  /* Cards */
  background: rgb(32, 48, 63);
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.balance__container .top-block p {
  color: rgb(46, 165, 255);
  font-family: "SF Pro Display 600";
  font-size: 17.67px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.balance__container .top-block img {
  width: 18.67px;
  height: 18.67px;
}
.balance__container .choice-of-get-more-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  /* Cards */
  background: rgb(32, 48, 63);
}
.balance__container .choice-of-get-more-block img {
  width: 16px;
  height: 13px;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}
.balance__container .choice-of-get-more-block .upDown {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.balance__container .choice-of-get-more-block p {
  /* Camption Regular */
  color: rgb(218, 245, 254);
  font-family: "SF Pro Display 400";
  font-size: 16.67px;
  font-weight: 400;
  line-height: 18.31px;
  letter-spacing: 1%;
  text-align: left;
}
.balance__container .choice-of-get-more-block .block-of-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.balance__container .choice-of-get-more-block .block-of-choice p {
  color: rgb(46, 165, 255);
  font-family: "SF Pro Display 400";
  font-size: 17.33px;
  font-weight: 400;
  line-height: 18.31px;
  letter-spacing: 1%;
  text-align: right;
}
.balance__container .choice-of-get-more-block .block-of-choice img {
  width: 12.33px;
  height: 13.07px;
}

.transaction {
  margin-bottom: 6px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 10px;
  /* Cards */
  background: rgb(32, 48, 63);
  padding-bottom: 6px;
}
.transaction p {
  /* Default text CAPS */
  color: rgb(132, 137, 143);
  font-family: "SF Pro Display 400";
  font-size: 13.33px;
  font-weight: 400;
  line-height: 15.64px;
  letter-spacing: 2%;
  text-align: left;
  text-transform: uppercase;
  margin-top: 17.33px;
  margin-left: 2px;
}
.transaction .grey__block {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.transaction .transaction__main {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  gap: 32px;
}
.transaction .transaction__main .common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.transaction .transaction__main .common .how__many {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.transaction .transaction__main .common .how__many .how__many-text:nth-child(1), .transaction .transaction__main .common .how__many .how__many-text:nth-child(2) {
  color: rgb(48, 209, 88);
  font-family: "SF Pro Display";
  font-size: 17.67px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: right;
  margin-left: 0;
  text-decoration: none;
  text-transform: none;
}
.transaction .transaction__main .common p {
  color: rgb(48, 209, 88);
  font-family: "SF Pro Display";
  font-size: 14.67px;
  font-weight: 500;
  line-height: 17.67px;
  letter-spacing: 0%;
  text-align: right;
  margin-left: 0;
  margin-top: 0;
  text-decoration: none;
  text-transform: none;
}
.transaction .transaction__main .common__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.transaction .transaction__main .common__block .download {
  position: relative;
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
  background: rgb(61, 168, 248);
}
.transaction .transaction__main .common__block .common-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
  margin-left: 10.33px;
}
.transaction .transaction__main .common__block .common-text p:nth-child(1) {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Display";
  font-size: 17.67px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 0;
  text-transform: none;
}
.transaction .transaction__main .common__block .common-text .date-text {
  color: rgb(181, 206, 217);
  font-family: "SF Pro Display";
  font-size: 14.67px;
  font-weight: 500;
  line-height: 17.67px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 0;
  text-transform: none;
}
.transaction .transaction__main .common__block .common-color-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  gap: 1px;
}
.transaction .download-image {
  /* Rectangle 45 */
  position: absolute;
  width: 25.33px;
  height: 25.33px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
      -ms-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}
.transaction .transtion__main-wrapper {
  height: 38.8px;
}
.transaction .stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 7.31px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1.57px solid rgba(224, 76, 76, 0.04);
  background: rgba(118, 118, 128, 0.24);
  position: relative;
  margin-top: 14px;
}
.transaction .stages .stage {
  padding-top: 7px;
  padding-bottom: 6px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}
.transaction .stages .stage p {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Text 600";
  font-size: 13.57px;
  font-weight: 600;
  line-height: 20.87px;
  letter-spacing: -0.08px;
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
  text-decoration: none;
  text-transform: none;
}
.transaction .grey__block {
  position: absolute;
  width: 33.3333333333%;
  border-radius: 8px;
  background: rgba(118, 118, 128, 0.24);
  border-radius: 8px;
  background: rgb(99, 99, 102);
  left: 0;
  height: 100%;
  bottom: 0;
}