.AdCreatingThree{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 23.33px;
}
.upTextContainer{
    display: flex;
    gap: calc(4px);
    align-items: center;
    margin-left: 16px;
}
.upTextContainer p{
    /* Bold */
    color: rgb(255, 255, 255);
    font-family: "SF Pro Display 600";
    font-size: 17.67px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}
.upTextContainer img{
    margin-top: 2px;
    width: calc(15px);
    height: calc(15px);
}
.Cap{

}
.PaymentMethod{
    margin-top: 41.16px;
}
.Holding{
    margin-top: calc(30px);
}